/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End Reset*/

/*CSS Variables*/
:root{
    /*Colors*/
    /*Nav*/
    --nav-bg-color: hsl(209, 100%, 58%);
    --nav-font-color: hsl(0, 0%, 100%);

    /*Controls*/
    --controls-bg-color: hsl(0, 0%, 98.5%);

    /*Content*/
    --content-display-bg-color: hsl(350, 100%, 88%);

}

/*Colors for scrollbar psudoclasses*/
.nav::-webkit-scrollbar,
.nav::-webkit-scrollbar-track,
.nav::-webkit-scrollbar-thumb,
.nav {
    --scrollbar-color: hsl(0, 100%, 50%);
    --scrollbar-bg-color: hsl(300, 100%, 25%);
}

html {
    height: 100vh;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas:    
        'nav controls'
        'nav content-display';
    height: 100%;
}   

.nav {
    grid-area: nav;
    background-color: var(--nav-bg-color);
    color: var(--nav-font-color);
    font-weight: bold;
    max-height: 100%;
    min-width: min-content;
    padding: 10px;

    display: grid;
    grid-template-rows: 2fr repeat(16, 1fr);
    grid-template-columns: minmax(75px, 1fr) minmax(min-content, 4fr);
    align-items: center;
    justify-items: center;

    overflow-y: auto;
    overflow-x: hidden;
}

.nav .header {
    display: contents;
}

/*Firefox*/
.nav {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);

}

/*Chrome, Safari, Edge*/
.nav::-webkit-scrollbar {
    width: 8px;
}
.nav::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg-color);
}

.nav::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 30px;
    border: 1px solid black;
}

.nav .header h1 {
    justify-self: left;
}

.nav img {
    filter: invert();
}

.nav .header img {
    max-width: 3rem;
}

.nav ul {
    list-style: none;
    display: contents;
}

.nav ul li {
    display: contents;
}

.nav ul li p {
    justify-self: left;
}

.nav ul li img {
    max-width: 1.5rem;
}

.controls {
    grid-area: controls;

    background-color: var(--controls-bg-color);

    display: grid;
    grid-template: 1fr 2fr / 1fr 1fr 1fr; /*set mimmax later*/
    grid-template-areas:    'search search user'
                            'greeting . control-btns';
    padding: 30px;
}

.controls .search {
    grid-area: search;
    display: grid;
    grid-template: 1fr / min-content 1fr;
    gap: 0px 15px;
    align-items: center;
}

.controls input[type=search] {
    max-height: 1.5rem;
    max-width: 75%;
}

.controls .search img {
    max-width: 1.75rem;
}

.controls .user {
    grid-area: user;
    display: grid;
    grid-template: 1fr / 3fr 1fr 3fr;
    gap: 0px 5px;
    align-items: center;
    justify-items: right;
}

.controls .user .notifications {
    max-width: 1.5rem;
}

.controls .user .user-img {
    max-width: 2.5rem;
}

.controls .user .user-name {
    justify-self: left;
    padding-left: 25px;
}

.controls .greeting {
    grid-area: greeting;
    display:grid;
    grid-template: 1fr 1fr / min-content 1fr;
    grid-template-areas:    'user-img greeting'
                            'user-img user-name';
    gap: 5px;
    align-items: center;
}

.controls .greeting .user-img {
    grid-area: user-img;
    max-width: 4rem;
}

.controls .greeting .greeting-msg {
    grid-area: greeting;
    font-size: 75%;
    align-self: end;
}

.controls .greeting .user-name {
    grid-area: user-name;
    align-self: start;
}

.controls .control-btns {
    grid-area: control-btns;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
}

.controls .control-btns button {
    width: 100px;
    height: 35px;
}

.content-display {
    grid-area: content-display;

    background-color: var(--content-display-bg-color);
}