/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End Reset*/

html {
    height: 100vh;
}

body {
    height: 100%;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas:    
        'nav controls'
        'nav content-display';
    height: 100%;
}   

.nav {
    grid-area: nav;
    background-color: blue;

    display: grid;
    grid-template: 1fr 8fr / auto;
    grid-template-areas: 'header'
                         'nav-links';
    height: 100%;
}

.nav .header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.nav ul {
    grid-area: nav-links;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.nav ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
}

.nav .header img {
    height: 7vh;
}

.nav ul li img {
    justify-self: right;
    height: 4vh;
}

.controls {
    grid-area: controls;

    background-color: green;
}

.content-display {
    grid-area: content-display;

    background-color: pink;
}